/* Font Faces */

/* Array */
@font-face {
  font-family: 'Array';
  src: url('/fonts/array/Array-Regular.woff2') format('woff2'),
       url('/fonts/array/Array-Regular.woff') format('woff'),
       url('/fonts/array/Array-Regular.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Array';
  src: url('/fonts/array/Array-Wide.woff2') format('woff2'),
       url('/fonts/array/Array-Wide.woff') format('woff'),
       url('/fonts/array/Array-Wide.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-stretch: expanded;
}

@font-face {
  font-family: 'Array';
  src: url('/fonts/array/Array-Semibold.woff2') format('woff2'),
       url('/fonts/array/Array-Semibold.woff') format('woff'),
       url('/fonts/array/Array-Semibold.ttf') format('ttf');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Array';
  src: url('/fonts/array/Array-SemiboldBold.woff2') format('woff2'),
       url('/fonts/array/Array-SemiboldBold.woff') format('woff'),
       url('/fonts/array/Array-SemiboldBold.ttf') format('ttf');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
  font-stretch: expanded;
}

@font-face {
  font-family: 'Array';
  src: url('/fonts/array/Array-Bold.woff2') format('woff2'),
       url('/fonts/array/Array-Bold.woff') format('woff'),
       url('/fonts/array/Array-Bold.ttf') format('ttf');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Array';
  src: url('/fonts/array/Array-BoldWide.woff2') format('woff2'),
       url('/fonts/array/Array-BoldWide.woff') format('woff'),
       url('/fonts/array/Array-BoldWide.ttf') format('ttf');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
  font-stretch: expanded;
}

/* Sentient */
@font-face {
  font-family: 'Sentient';
  src: url('/fonts/sentient/Sentient-Variable.woff2') format('woff2'),
       url('/fonts/sentient/Sentient-Variable.woff') format('woff'),
       url('/fonts/sentient/Sentient-Variable.ttf') format('ttf');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Sentient';
  src: url('/fonts/sentient/Sentient-VariableItalic.woff2') format('woff2'),
       url('/fonts/sentient/Sentient-VariableItalic.woff') format('woff'),
       url('/fonts/sentient/Sentient-VariableItalic.ttf') format('ttf');
  font-weight: 200 700;
  font-display: swap;
  font-style: italic;
}

/* Panchang */
@font-face {
  font-family: 'Panchang';
  src: url('/fonts/panchang/Panchang-Variable.woff2') format('woff2'),
       url('/fonts/panchang/Panchang-Variable.woff') format('woff'),
       url('/fonts/panchang/Panchang-Variable.ttf') format('ttf');
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

/* FT88 */
@font-face {
  font-family: 'FT88';
  src: url('/fonts/ft88/FT88-Regular.woff2') format('woff2'),
       url('/fonts/ft88/FT88-Regular.woff') format('woff'),
       url('/fonts/ft88/FT88-Regular.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'FT88';
  src: url('/fonts/ft88/FT88-Expanded.woff2') format('woff2'),
       url('/fonts/ft88/FT88-Expanded.woff') format('woff'),
       url('/fonts/ft88/FT88-Expanded.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
  font-stretch: expanded;
}

@font-face {
  font-family: 'FT88';
  src: url('/fonts/ft88/FT88-Italic.woff2') format('woff2'),
       url('/fonts/ft88/FT88-Italic.woff') format('woff'),
       url('/fonts/ft88/FT88-Italic.ttf') format('ttf');
  font-weight: 400;
  font-display: swap;
  font-style: italic;
}

@font-face {
  font-family: 'FT88';
  src: url('/fonts/ft88/FT88-Bold.woff2') format('woff2'),
       url('/fonts/ft88/FT88-Bold.woff') format('woff'),
       url('/fonts/ft88/FT88-Bold.ttf') format('ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'FT88';
  src: url('/fonts/ft88/FT88-Gothique.woff2') format('woff2'),
       url('/fonts/ft88/FT88-Gothique.woff') format('woff'),
       url('/fonts/ft88/FT88-Gothique.ttf') format('ttf');
  font-weight: 700;
  font-display: swap;
  font-style: oblique;
}

/* CSS Custom Properties Definitions */

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --spacing-36: 9rem;
  --fontFamily-sans: "Panchang", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Sentient", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --fontFamily-accent: "Array", system-ui, -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-monospace: "FT88", "Courier New", Courier, monospace;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --accent-heading: var(--fontFamily-accent);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  --color-purple: #4345ee;
  --color-forest: #3c5d3a;
  --color-green: #277f22;
  --color-orange: #ed7b3d;
  --color-primary: var(--color-orange);
  --color-text: #2e353f;
  --color-text-light: #dce0e5;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5;
  --color-header-shadow: #adbef2;
}

/* HTML elements */

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  line-height: var(--lineHeight-normal);
  font-size: var(--fontSize-root);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-body);
  font-size: var(--fontSize-1);
  color: var(--color-text);
  min-height: 100vh;
  overflow: hidden;
  overscroll-behavior-y: none;
  background-color: var(--color-accent);
}

html, body {
  height: 100%;
}

footer {
  font-family: var(--fontFamily-monospace);
  font-style: oblique;
  font-weight: bold;
  padding: var(--spacing-5);
  display: flex;
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: center;
  bottom: var(--spacing-0);
  margin: var(--spacing-0) auto;
}

hr {
  background: var(--color-accent);
  height: 1px;
  border: 0;
}

/* Heading */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  margin-top: var(--spacing-12);
  margin-bottom: var(--spacing-6);
  line-height: var(--lineHeight-tight);
  letter-spacing: -0.025em;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--fontWeight-bold);
  color: var(--color-heading);
}

h1 {
  font-weight: var(--fontWeight-black);
  font-size: var(--fontSize-6);
  color: var(--color-heading-black);
}

h2 {
  font-size: var(--fontSize-5);
}

h3 {
  font-size: var(--fontSize-4);
}

h4 {
  font-size: var(--fontSize-3);
}

h5 {
  font-size: var(--fontSize-2);
}

h6 {
  font-size: var(--fontSize-1);
}

h1 > a {
  color: inherit;
  text-decoration: none;
}

h2 > a,
h3 > a,
h4 > a,
h5 > a,
h6 > a {
  text-decoration: none;
  color: inherit;
}

/* Prose */

p {
  line-height: var(--lineHeight-relaxed);
  --baseline-multiplier: 0.179;
  --x-height-multiplier: 0.35;
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-8) var(--spacing-0);
  padding: var(--spacing-0);
}

ul,
ol {
  margin-left: var(--spacing-0);
  margin-right: var(--spacing-0);
  padding: var(--spacing-0);
  margin-bottom: var(--spacing-8);
  list-style-position: inside;
  list-style-image: none;
}

ul li,
ol li {
  padding-left: var(--spacing-0);
  margin-bottom: calc(var(--spacing-8) / 2);
}

li > p {
  margin-bottom: calc(var(--spacing-8) / 2);
}

li *:last-child {
  margin-bottom: var(--spacing-0);
}

li > ul {
  margin-left: var(--spacing-8);
  margin-top: calc(var(--spacing-8) / 2);
}

blockquote {
  color: var(--color-text-light);
  margin-left: calc(-1 * var(--spacing-6));
  margin-right: var(--spacing-8);
  padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-6);
  border-left: var(--spacing-1) solid var(--color-primary);
  font-size: var(--fontSize-2);
  font-style: italic;
  margin-bottom: var(--spacing-8);
}

blockquote > :last-child {
  margin-bottom: var(--spacing-0);
}

blockquote > ul,
blockquote > ol {
  list-style-position: inside;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

table {
  width: 100%;
  margin-bottom: var(--spacing-8);
  border-collapse: collapse;
  border-spacing: 0.25rem;
}

table thead tr th {
  border-bottom: 1px solid var(--color-accent);
}

/* Link */

a {
  color: var(--color-primary);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

/* Custom classes */

.global-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 100%;
}

.global-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.global-header {
  margin-bottom: var(--spacing-12);
  position: absolute;
  display: flex;
  width: 100%;
  margin: var(--spacing-0) auto;
  max-width: var(--maxWidth-wrapper);
  padding: var(--spacing-10) var(--spacing-5);
  z-index: 1;
}

.global-header div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
}

.main-heading {
  font-size: var(--fontSize-2);
  font-family: var(--accent-heading);
  margin: 0;
}

.home-link {
  flex-grow: 2;
}

.blog-link, .resume-link {
  flex-grow: 1;
  text-align: right;
}

.post-list-item {
  margin-bottom: var(--spacing-8);
  margin-top: var(--spacing-8);
}

.post-list-item p {
  margin-bottom: var(--spacing-0);
}

.post-list-item h2 {
  font-size: var(--fontSize-4);
  color: var(--color-primary);
  margin-bottom: var(--spacing-2);
  margin-top: var(--spacing-0);
}

.post-list-item header {
  margin-bottom: var(--spacing-4);
}

.post-list-item small {
  font-family: var(--fontFamily-accent);
  font-size: var(--fontSize-1);
}

.header-link-home {
  font-weight: var(--fontWeight-bold);
  font-family: var(--accent-heading);
  text-decoration: none;
  font-size: var(--fontSize-2);
}

.bio {
  display: flex;
  margin-bottom: var(--spacing-16);
}

.bio p {
  margin-bottom: var(--spacing-0);
  font-weight: normal;
}

.bio-avatar {
  margin-right: var(--spacing-4);
  margin-bottom: var(--spacing-0);
  min-width: 50px;
  border-radius: 100%;
  overflow: hidden;
}

.blog main {
  justify-content: center;
}

.blog .blog-entries {
  height: fit-content;
  list-style: none;
  max-width: var(--maxWidth-wrapper);
  margin-bottom: 0;
  padding: var(--spacing-10) var(--spacing-5) var(--spacing-0);
}

.blog-post {
  width: 100%;
  max-width: var(--maxWidth-wrapper);
  padding-top: var(--spacing-24);
  padding-right: var(--spacing-5);
  padding-left: var(--spacing-5);
}

.blog-post header h1 {
  margin: var(--spacing-0) var(--spacing-0) var(--spacing-1) var(--spacing-0);
}

.blog-post header p {
  font-size: var(--fontSize-2);
  font-family: var(--fontFamily-accent);
}

.blog-post-nav ul {
  margin: var(--spacing-0);
}

.blog-post footer {
  position: relative;
  padding: var(--spacing-4) 0;
}

.blog-post footer .bio {
  margin-bottom: 0;
  flex-grow: 1;
  align-items: center;
  font-family: var(--fontFamily-serif);
}

canvas {
  flex-grow: 1;
  position: absolute !important;
  top: 0;
}


.canvas .statement {
  flex-grow: 1;
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: var(--spacing-4);
  position: absolute;
}

.statement h1, .statement p {
  max-width: var(--maxWidth-wrapper);
}

.statement h1 {
  text-shadow: 2px 2px var(--color-header-shadow);
}

.vr {
  margin-top: var(--spacing-24);;
}

.fb {
  margin-top: var(--spacing-36);
}

.canvas h1 {
  margin: 0;
  font-family: var(--accent-heading);
  margin-bottom: var(--spacing-2);
  font-stretch: expanded;
}

.canvas > div > canvas + div {
  overflow: hidden !important;
}

.not-found {
  height: 100vh;
  flex-flow: column;
  align-items: center;
}

.gatsby-highlight {
  margin-bottom: var(--spacing-8);
}

.gatsby-wrapper {

}

#___gatsby {
  height: 100%;
  overflow: auto;
}

#gatsby-focus-wrapper {
  height: 100%;
}

/* Media queries */

@media (max-width: 42rem) {
  blockquote {
    padding: var(--spacing-0) var(--spacing-0) var(--spacing-0) var(--spacing-4);
    margin-left: var(--spacing-0);
  }
  ul,
  ol {
    list-style-position: inside;
  }
}
